body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: #008ed6 3px;
  opacity: 0.8; }

/*#home-section2 {
    background: url("../img/welcome.jpeg") no-repeat;
    min-height: 1300px;
    background-size: cover;
    font-size: 20px;
    background-attachment: fixed; }
    #home-section2 .dark-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 1300px; }
    #home-section2 .home-inner {
      padding-top: 150px; }


    .dark-overlay{
        background-color:$dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 1300px;
    
    }
    
    .home-inner{
        padding-top: 150px;
    
    }*/
#home-section1 {
  background: url("../img/welcome.jpeg") no-repeat;
  min-height: 1300px;
  background-size: cover;
  font-size: 20px;
  background-attachment: fixed; }

#home-section1 .dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1300px; }

#home-section1 .home-inner {
  padding-top: 150px; }

.fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#explore-section .fa, #share-section .fa {
  color: #008ed6;
  background: black;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#create-section .fa {
  color: #008ed6;
  background: black;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }
