body {
  background: #020277;
  color: #fff; }

.navbar {
  border-bottom: #008ed6 3px;
  opacity: 0.8; }

#home-section2 {
  background: url("../img/lapgal.jpeg") no-repeat;
  min-height: 1700px;
  background-size: cover;
  font-size: 20px;
  background-attachment: fixed; }

#home-section2 .dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1700px; }

#home-section2 .home-inner {
  padding-top: 150px; }

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1700px; }

.home-inner {
  padding-top: 150px; }

#home-section3 {
  background: url("../img/welcome.jpeg") no-repeat;
  min-height: 1700px;
  background-size: cover;
  font-size: 20px;
  background-attachment: fixed; }

#home-section3 .dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1700px; }

#home-section3 .home-inner {
  padding-top: 150px; }

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1700px; }

.home-inner {
  padding-top: 150px; }

#home-section {
  background: url("../img/light.jpeg") no-repeat;
  min-height: 1700px;
  background-size: cover;
  font-size: 20px;
  background-attachment: fixed; }

#home-section .dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1700px; }

#home-section .home-inner {
  padding-top: 150px; }

.fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#explore-section .fa, #share-section .fa {
  color: #008ed6;
  background: black;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#create-section .fa {
  color: #008ed6;
  background: black;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }
