$bg-color:rgb(2, 2, 119);
$font-color:#fff;
$primary-color:#008ed6;
$dark-overlay: rgba(0,0,0,0.6);
$icon-size:30px;



body{
    background: $bg-color;
    color: $font-color;
}

.navbar{
    border-bottom: $primary-color 3px;
    opacity: 0.8;

}

#home-section2 {
    background: url("../img/lapgal.jpeg") no-repeat;
    min-height: 1700px;
    background-size: cover;
    font-size: 20px;
    background-attachment: fixed; }
    #home-section2 .dark-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 1700px; }
    #home-section2 .home-inner {
      padding-top: 150px; }


    .dark-overlay{
        background-color:$dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 1700px;
    
    }
    
    .home-inner{
        padding-top: 150px;
    
    }

    #home-section3{
        background: url("../img/welcome.jpeg") no-repeat;
        min-height: 1700px;
        background-size: cover;
        font-size: 20px;
        background-attachment: fixed; }
        #home-section3 .dark-overlay {
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          min-height: 1700px; }
        #home-section3 .home-inner {
          padding-top: 150px; }
    
    
        .dark-overlay{
            background-color:$dark-overlay;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 1700px;
        
        }
        
        .home-inner{
            padding-top: 150px;
        
        }

    #home-section {
   background: url("../img/light.jpeg") no-repeat;
   min-height: 1700px;
        background-size: cover;
        font-size: 20px;
        background-attachment: fixed; }
        #home-section .dark-overlay {
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          min-height: 1700px; }

        #home-section .home-inner {
          padding-top: 150px; }


    
   .fa{
       color: $primary-color;
       background: #fff;
       padding: 4px;
       border-radius: 5px;
       font-size: $icon-size;
   } 



#explore-section, #share-section{
    .fa{
        color:$primary-color;
        background: black;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}


#create-section{
    .fa{
        color: $primary-color;
        background: black;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}